*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav{
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
}

nav a{
    font-size: 0.65rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
}

.link-principal-header a{
    text-decoration: none;
    background-color: #485C11;
    padding: 0.5rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.link-principal-header a:hover{
    background-color: #6a881a;
    transform: scale(105%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: relative;
}

.header-main h1{
    font-size: 5rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.img-celular-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}