@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 0 1rem 1rem;
}

nav{
    display: none;
    gap: 2rem;
}

nav a{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
}

.link-principal-header a{
    text-decoration: none;
    background-color: #485C11;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    font-size: 1rem;
    transition: all 0.5s ease;
    display: none;
}

.link-principal-header a:hover{
    background-color: #6a881a;
    transform: scale(105%);
}

.img-hamburguer{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: relative;
}

.header-main h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.img-dispositivo-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.img-celular-main{
    width: 90%;
}

.img-ipad-main{
    display: none;
    width: 90%;
}

.img-pc-main{
    display: none;
    width: 90%;
}

.patrocinios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.img-patrocinios-celular{
    width: 95%;
}

.img-patrocinios-ipad{
    display: none;
}

.img-patrocinios-pc{
    
    display: none;
}

.benefits{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.benefits-header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.benefits-header span{
    font-size: 0.8rem;
    color: #485C11;
}

.benefits-header h2{
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.benefits-header p{
    color: #6F6F6F;
}

.benefits-infos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.benefits-amplify{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.benefits-amplify h4{
    font-family: "Playfair Display", serif;
}

.benefits-amplify p{
    color: #6F6F6F;
}

hr{
    margin-top: 5rem;
}

.benefits-control{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4rem;
}

.benefits-control h4{
    font-family: "Playfair Display", serif;
}

.benefits-control p{
    color: #6F6F6F;
}

.benefits-remove{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4rem;
}

.benefits-remove h4{
    font-family: "Playfair Display", serif;
}

.benefits-remove p{
    color: #6F6F6F;
}

.benefits-growth{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4rem;
}

.benefits-growth h4{
    font-family: "Playfair Display", serif;
}

.benefits-growth p{
    color: #6F6F6F;
}

.hero-img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img1-celular{
    width: 90%;
}

.hero-img1-ipad{
    display: none;
}

.hero-img1-pc{
    display: none;
}

.big-picture{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.big-picture-header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.big-picture-header h2{
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: 500;
}

.big-picture p{
    color: #6F6F6F;
}

.big-picture-infos{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.info01{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info01 p{
    font-size: 0.9rem;
    color: #000;
}

.info01 span{
    color: #6F6F6F;
}

.big-picture-infos hr{
    margin-top: 2rem;
}

.info02{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.info02 p{
    font-size: 0.9rem;
    color: #000;
}

.info02 span{
    color: #6F6F6F;
}

.big-picture-link{
    display: flex;
    padding-top: 4rem;
}

.big-picture-link a{
    text-decoration: none;
    background-color: #DFECC6;
    padding: 1rem 1.5rem;
    color: #000;
    font-weight: 700;
    border-radius: 1.5rem;
    transition: all 0.5s ease;
}

.big-picture-link a:hover{
    transform: scale(103%);
}

.hero-img2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6.5rem;
}

.hero-img2-celular{
    width: 95%;
}

.hero-img2-ipad{
    display: none;
}

.hero-img2-pc{
    display: none;
}

.choose-area{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.choose-area-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    gap: 2.5rem;
}

.choose-area-header span{
    color: #485C11;
}

.choose-area-header h2{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    padding: 0 0.1rem;
    font-weight: 500;
}

.choose-area-header p{
    color: #6F6F6F;
}

.choose-area-header-link{
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
}

.choose-area-header-link a{
    text-decoration: none;
    background-color: #DFECC6;
    padding: 1rem 1.5rem;
    color: #000;
    font-weight: 700;
    border-radius: 1.5rem;
    transition: all 0.5s ease;
}

.choose-area-header-link a:hover{
    transform: scale(103%);
}

.choose-area-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.7rem;
    justify-content: center;
    box-shadow: rgba(29, 159, 0, 0.389) 0px 0px 0px 3px;
    border-radius: 1rem;
    width: 14rem;
    height: 45vh;
    margin: 0 auto;
    margin-top: 5rem;
}

.area-infos-header{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: "Playfair Display", serif;
}

.area-infos-checklist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.area-infos-checklist span{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
    text-align: center;
}

.websurge-infos-checklist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.websurge-infos-checklist span{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding-top: 1rem;
    text-align: center;
}

.john-smith{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
}

.img-hero3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img3-celular{
    width: 90%;
    margin: 0 auto;
}

.hero-img3-ipad{
    display: none;
}

.hero-img3-pc{
    display: none;
}

.john-smith-paragrafo{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem 1rem 0 1rem;
}

.john-smith-paragrafo p{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
}

.autor-paragrafo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.autor-paragrafo h3{
    font-weight: 500;
}

.autor-paragrafo span{
    font-size: 0.7rem;
}

.map{
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.map-header{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.map-header h2{
    font-family: "Playfair Display", serif;
    font-size: 2.1rem;
    font-weight: 500;
}

.map-header-link{
    display: flex;
}

.map-header-link a{
    text-decoration: none;
    background-color: #DFECC6;
    padding: 1rem 1.5rem;
    color: #000;
    font-weight: 700;
    border-radius: 1.5rem;
    transition: all 0.5s ease;
}

.map-header-link a:hover{
    transform: scale(105%);
}

.map-infos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 4rem;
}

.map-infos-started{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map-infos-started span{
    padding-bottom: 1.5rem;
    font-size: 4rem;
    color: #969696;
    font-weight: 400;
}

.map-infos-started h3{
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
}

.map-infos-started p{
    color: #6F6F6F;
}

.img-hero4{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.img-hero4-ipad{
    display: none;
}

.img-hero4-pc{
    display: none;
}

.connect{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
}

.connect h2{
    font-size: 2.3rem;
    font-weight: 600;
}

.connect p{
    padding: 0 1rem;
    color: #6F6F6F;
}

.connect-link{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}

.connect a{
    text-decoration: none;
    background-color: #485C11;
    padding: 1rem 5.5rem;
    color: #fff;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.connect a:hover{
    background-color: #6a881a;
    transform: scale(105%);
}

footer{
    padding: 1rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8rem;
    border-top: 1px solid #6F6F6F;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.footer-links a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.footer-links a:hover{
    text-decoration: underline;
}

.img-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-footer p{
    font-size: 0.8rem;
}